* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family: "urbanist";
  letter-spacing: 0.1rem;
}

html{
  font-size: 162.5%;
}
body{
  background-color: rgb(27, 27, 51);
  background-image: linear-gradient(to right , #434343 0% ,black 100%);
  color:white;
}
.currency-Converter{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5rem 0;
  background-color: rgb(202, 197, 197);
  color:black;
  height:14rem;
  width:50%;
  margin-left:14rem;
  padding:1rem;
  
}
h1{
  color:rgb(83, 83, 190);
}
#horizontal{
  margin:0.5rem;
 background-color: black;
  width : 25rem;
}

.currency-selector{
  display: flex;
  justify-content: center;
  gap: 3rem;
  size: 2rem;
  font-size: 1.5rem;
}
#currency_amount{
  width:7rem;
  height: 1.2rem;
}
#select{
  width:7rem;
  height: 1.2rem;
  margin-top:0;
}
#button{
  margin-top:1.5rem;
  width: 20rem;
  border:1px solid black;
  color:black;
  padding:0.2rem;   
}
#button:hover{
  background-image: linear-gradient(to right , #535080 0% ,rgb(142, 38, 165) 100%);
  color:white;
  }
